---
import Layout from '../layouts/Layout.astro'
import SkillBox from '../components/SkillBox.astro'
import NavBar from '../components/NavBar.astro'
import AboutMe from '../components/AboutMe.vue'
import Footer from '../components/Footer.astro'
---

<script>
  const contactButton = document.getElementById('contact-button')

  contactButton?.addEventListener('click', () => {
    window.open('mailto:william.trodd@gmail.com')
  })
</script>

<Layout title='Will Trodd'>
  <div class='flex flex-col min-h-screen'>
    <main class='bg-secondary-blue min-w-full min-h-full text-white'>
      <header class='bg-primary-blue h-96 pt-4'>
        <div class='lg:px-32 px-4 h-full'>
          <NavBar />
          <div
            class='flex flex-col h-[65%] justify-center transition-all ease-in'
          >
            <span class='md:text-5xl text-md font-extrabold'>Hi!</span>
            <h1 class='md:text-6xl text-2xl font-bold'>I'm Will Trodd</h1>
            <h2 class='md:text-5xl text-2xl font-bold'>I make software</h2>
          </div>
          <div class='h-[25%] flex items-center'>
            <button
              id='contact-button'
              class='w-fit px-4 py-2 border-solid border-4 rounded-md border-accent-pink'
            >
              Get in touch!
            </button>
          </div>
        </div>
      </header>
      <div class='pt-8 lg:px-32 px-4'>
        <h2 id='aboutMe' class='text-4xl font-bold mb-12'>About Me</h2>
        <AboutMe client:load />
      </div>
      <div
        class='bg-tertiary-blue mt-2 px-[10%] pt-8 pb-12 flex justify-center'
      >
        <grid class='grid grid-cols-2 grid-rows-10 gap-y-4 place-items-center'>
          <h2 id='projects' class='text-4xl font-bold w-full'>Portfolio</h2>
          <SkillBox
            title='Discord Clone'
            text='A clone of the Discord chat app'
            icon='/discord-logo.png'
            page='/discord-clone'
          />
          <SkillBox
            title='FullStack Open'
            text='FullStack Open course from the University of Helsinki'
            icon='/js-icon.png'
            page='/fullstack-open'
          />
          <SkillBox
            title='This site!'
            text='This portfolio site was built with Astro (and a small Vue island)'
            icon='/astro-logo.png'
            page='/portfolio'
          />
          <SkillBox
            title='Android Maths Quiz'
            text='A maths quiz app for Android built for a class I taught'
            icon='/android-logo.png'
            page='/mathsquiz'
          />
          <SkillBox
            title='Ecommerce Site'
            text='A template for an ecommerce site built with SolidJS and Tailwind'
            icon='/solidjs.png'
            page='/ecommerce'
          />
        </grid>
      </div>
    </main>
    <Footer />
  </div>
</Layout>
